
.part-container {
    background-color: #f9f9f9;
    border: 2px solid red;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.part-card {
    background-color: #fff;
    border: 2px solid red;
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.part-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.img-thumbnail, .part-card-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.part-card-img {
    object-fit: cover;
}

.rating-div {
    margin-left: 15px;
}

