/*Rozloženie stránky*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('/images/background.png');
    background-size: cover;
    background-attachment: fixed;
}

main {
    flex: 1;
}
/*-------------------*/


.navbar-logo img {
    border-radius: 50%;
}

.navbar-text {
    color: #dc3545;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

/*Search container*/
.search-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-grow: 1;
}

/*Searchbar*/
input.form-control {
    border: 2px solid red;
    width: 300px;
    border-radius: 20px;
    margin-right: 10px;
}

/*Vyhľadať button*/
.btn-outline-light {
    border-color: red;
    border-radius: 10px;
}

/*Prihlásiť sa button*/
.btn-danger {
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 20px;
}

.nav-icons a {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    border-color: red;
}

.nav-icons a img {
    border-radius: 5px;
}

.category-container {
    background-color: #f1f1f1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid red;
    border-radius: 20px;
    padding: 20px;
}

.category-card {
    height: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: white;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-links a {
    text-decoration: none;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem;
}

.dropdown-container .row {
    display: flex;
    justify-content: space-between;
}

.login-container {
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    width: 550px;
    padding: 30px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.car-parts {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.car-parts::before {
    content: '- ';
    margin-right: 5px;
}

.info-box {
    background-color: black;
    border: 2px solid red;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-text {
    color: white;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.part-container {
    background-color: #f9f9f9;
    border: 2px solid red;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.part-card {
    background-color: #fff;
    border: 2px solid red;
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.part-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.part-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-danger:hover {
    background-color: #b71c1c;
    transform: scale(1.1);
}

