<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AutoParts Hub</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link href="/public/styles/style.css" rel="stylesheet">
</head>
<body>

    <div id="navbarContainer"></div>


    <main class="container my-5 flex-grow-1">
        <div class="product-info-container">
            <div class="product-image">
                <img src="https://www.jjmoto.sk/obchod_homedir/data/2536/obrazky/zapalovacia-sviecka-dr8eb.jpg" alt="Obrázok produktu">
            </div>
            <div class="product-details">
                <h2 class="product">SVIECKI NGK :D</h2>
                <p>
                    Smartfón Xiaomi Redmi 14C je vybavený 6,88" IPS LCD displejom s rozlíšením HD+ (120 Hz), zadným fotoaparátom
                    s rozlíšením 50 Mpx, 8-jadrovým procesorom MediaTek Helio G81...
                </p>
                <p class="price">129€</p>
                <p class="availability">Na sklade</p>
                <button class="btn btn-danger">Pridať do košíka</button>
            </div>
        </div>

        <div class="ratings-container">
            <h3>Hodnotenie produktu</h3>
            <div class="rating-info">
                <div class="rating-summary">
                    <div style="position: relative; margin-left: 8px; width: 150px; height: 30px; overflow: hidden;">
                        <img src="/views/images/rating/rating-empty.png" alt="Rating" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain;">
                        <img src="/views/images/rating/rating-full.png" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; clip-path: inset(0 20% 0 0); object-fit: contain;">
                    </div>
                    <p class="rating-percentage">91%</p>
                    <p class="rating-avg">priemer z 13 hodnotení</p>
                </div>
                <div class="rating-stars">
                    <p>5⭐&nbsp;80%</p> 
                    <p>4⭐&nbsp;15%</p>
                    <p>3⭐&nbsp;5%</p> 
                    <p>2⭐&nbsp;0%</p>
                    <p>1⭐&nbsp;0%</p>   
                </div>
                <div class="rating-graph">
                    <img src="/views/images/rating/ratingBar.png" style=" clip-path: inset(0 70% 0 0);">
                    <img src="/views/images/rating/ratingBar.png" style="clip-path: inset(0 80% 0 0);">
                    <img src="/views/images/rating/ratingBar.png" style="clip-path: inset(0 50% 0 0);">
                    <img src="/views/images/rating/ratingBar.png" style="clip-path: inset(0 20% 0 0);">
                    <img src="/views/images/rating/ratingBar.png" style="clip-path: inset(0 10% 0 0);">
                </div>
            </div>
        </div>
    </main>



    <div id="footerContainer"></div>


    <script src="/public/js/middlewares/includes.js"></script>
</body>
</html>
