<footer class="footer bg-dark text-light py-4">
    <div class="container">
        <div class="footer-row row">
            <div class="footer-column col-md-6 text-center">
                <h3>Informácie</h3>
                <p>AutoParts Hub je E-shop vytvorený za účelom predaja automobilových dielov online.</p>
                <p>Stánka vznikla ako semestrálny projekt pre predmet Vývoj aplikácií pre internet a intranet.</p>
            </div>
            <div class="footer-column col-md-6 text-center">
                <h3>Linky</h3>
                <ul class="footer-links list-unstyled">
                    <li><a href="/" class="text-light">Domov</a></li>
                    <li><a href="/profile" class="text-light">Účet</a></li>
                    <li><a href="#" class="text-light">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center mt-3">
        <p>&copy; 2024 AutoParts Hub</p>
    </div>
</footer>
